/* styles.css */

/* Styles from App.css */
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Styles from index.css */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #928080;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .form-section, .progress-section {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  .form-section h2, .progress-section h2 {
    color: #555;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #eaeaea;
  }
  
  button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .workout-records {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  .workout-records h2 {
    color: #555;
  }
  
  #workout-list {
    list-style: none;
    padding: 0;
  }
  
  #workout-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
  }
  